﻿
@{
    ViewBag.Title = "Tere";
}

<h2>Tere</h2>

<p>Ole tervitatud @ViewBag.Nimi - ma juba ootasime sind</p>
<p>Täna on @DateTime.Today.ToShortDateString()</p>
<table>
    <tr>
        <th>Nimi</th>
        <th>Vanus</th>
    </tr>
    @foreach(string rida in ViewBag.Nimed)
    {
        <tr>
            <td>@rida</td>
        </tr>
    }
</table>

